Welcome <%=@name%>
<br>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>
<br>
<a href='/bookmarks/new'> Add a new bookmark </a>